.valid {
    background-color: green;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    transform: translate(0 , -50%);
}
.notValid {
    background-color: red;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    transform: translate(0 , -50%);
}
.card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 13px;
    padding: 15px;
    justify-content: space-between;
    height: 30rem;
}

.cardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.cardBody {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    object-fit: cover;
}

.title {
    display: flex;
    font-size: 1.7rem;
    font-weight: bolder;
}

.modal {
    display: flex;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fullScreen {
    width: 100vw;
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, .70);
}

.btn {
    background-color: white;
    height: 50px;
    font-size: larger;
}